body{
    background: url(getgg190200261.jpg);
    background-size: cover;
}
button:hover{
    width: 50;
    height: 50;
    background: yellow;
    cursor: pointer;
    }
    img{
        width: 500px;
        height: 500px;
      align-content: center;
    }